@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --oasen-blue: #26b4f4;
    --oasen-blue-dark: #109ede;
  }

  @font-face {
    font-family: "strada";
    src: font-url("./fonts/strada.ttf");
    format: ("truetype");
  }
}

@layer components {
  .oasenh1 {
    @apply font-strada text-blue-oasen text-3xl font-bold;
  }
  .oasenwhite {
    @apply font-strada text-white text-3xl font-bold;
  }
}

@font-face {
  font-family: Strada;
  src: url(fonts/strada.ttf);
}

@font-face {
  font-family: Strada-light;
  src: url(fonts/strada-light.ttf);
}

body {
  margin: 0;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Strada-light', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 45px;
  font-family: Strada;
}

h3{
  font-size: 25px;
}


